service:
  hostname:
    tcp: turn-ansharnet-tcp.radixdlt.com
    udp: turn-ansharnet-udp.radixdlt.com
    tls: turn-ansharnet-tls.radixdlt.com

  tlsCertificate: arn:aws:acm:eu-west-2:821496737932:certificate/5f284ee0-3551-4ab9-bd95-c0dd79356c67
