service:
  hostname:
    tcp: turn-dev-tcp.rdx-works-main.extratools.works
    udp: turn-dev-udp.rdx-works-main.extratools.works
redis:
  host: signaling-server-redis-test-01.7ffct2.ng.0001.euw2.cache.amazonaws.com
  port: 6379
  password:
