ingress:
  enabled: true
  hosts:
    - host: signaling-server-dev.rdx-works-main.extratools.works
      paths:
      - path: /
        backend:
          serviceName: signaling-server
          servicePort: 4000
  tls:
    - secretName: self-signed-tls
      hosts:
        - signaling-server-dev.rdx-works-main.extratools.works

metrics:
  alert_labels:
    env: dev
    cluster: rdx-works-main-dev

redis:
  pub:
    host: signaling-server-redis-test-01.7ffct2.ng.0001.euw2.cache.amazonaws.com
  sub:
    host: signaling-server-redis-test-01-ro.7ffct2.ng.0001.euw2.cache.amazonaws.com
  port: 6379
  password: