ingress:
  enabled: true
  hosts:
    - host: signaling-server-dev.rdx-works-main.extratools.works
      paths:
      - path: /
        backend:
          serviceName: signaling-server
          servicePort: 4000
  tls:
    - hosts:
        - signaling-server-dev.rdx-works-main.extratools.works

metrics:
  alert_labels:
    env: dev
    cluster: rdx-works-main-dev

redis:
  pub:
    host: dapp-common-dev-cache.7ffct2.ng.0001.euw2.cache.amazonaws.com
  sub:
    host: dapp-common-dev-cache-ro.7ffct2.ng.0001.euw2.cache.amazonaws.com
  port: 6379
  password:

alertmanager:
  env: "dev"
  nameOverride: "ng-amcfg"
  slackConfig:
    channel: "feed--alerts-dev-web-rtc"
  secrets:
    region: eu-west-2
    name: "rdx-works-main-dev/eks/signaling-server/alertmanager-integration-keys"

resources:
  limits:
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 256Mi
