service:
  hostname:
    tcp: turn-betanet-tcp.radixdlt.com
    udp: turn-betanet-udp.radixdlt.com
    tls: turn-betanet-tls.radixdlt.com

  tlsCertificate: arn:aws:acm:eu-west-2:308190735829:certificate/ebbe0549-87fe-4582-9d4d-ca7781b8eee1
