ingress:
  enabled: true
  hosts:
    - host: {{ requiredEnv "NS" }}.radixdlt-dev.extratools.works
      paths:
      - path: /
        backend:
          serviceName: signaling-server
          servicePort: 4000
  tls:
    - secretName: self-signed-tls
      hosts:
        - {{ requiredEnv "NS" }}.radixdlt-dev.extratools.works
